*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,Segoe UI,sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(135deg,#071327,#122746,#0f172a);

overflow:hidden;

color:white;

}

.background{

position:fixed;

inset:0;

overflow:hidden;

}

.blob{

position:absolute;

width:500px;

height:500px;

border-radius:50%;

filter:blur(120px);

animation:float 12s infinite alternate;

}

.blob1{

background:#2563eb;

top:-120px;

left:-120px;

}

.blob2{

background:#9333ea;

right:-120px;

bottom:-120px;

animation-delay:3s;

}

.login-card{

width:420px;

background:#1e293bcc;

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

padding:40px;

border-radius:10px;

color:white;

box-shadow:0 20px 60px rgba(0,0,0,.4);

animation:appear .8s ease;

}

.logo{

font-size:70px;

text-align:center;

margin-bottom:20px;

animation:bounce 2s infinite;

}

h1{

text-align:center;

margin-bottom:8px;

}

p{

text-align:center;

opacity:.8;

margin-bottom:30px;

}

.input-group{

margin-bottom:20px;

}

label{

display:block;

margin-bottom:8px;

}

input{

width:100%;

padding:14px;

border:none;

border-radius:10px;

font-size:16px;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

background:#1d4ed8;

}

#message{

margin-top:20px;

text-align:center;

}

@keyframes appear{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:none;

}

}

@keyframes bounce{

50%{

transform:translateY(-8px);

}

}

@keyframes float{

from{

transform:translateY(-40px);

}

to{

transform:translateY(40px);

}

}